[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Exec=sudo python /home/mikszam/SCR/Laptop/GUI.py
Name=SCR
Name[en_US]=SCRLaptop
